html{
    height: 100%;
	overflow: auto; /*solução pra desbugar a modal*/
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
	overflow: auto; /*solução pra desbugar a modal*/
}

.main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background-image: url(../imagens/loginindex.jpeg);
}

.login{
    margin: auto;
    overflow: hidden;
    clear: both;
    position: relative;
    top: 30%;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login h1{
    margin: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

.frmLogin{
    margin: auto;
    width: 80%;
    height: 150px;
}

.lbl_login{
    display: block;
    text-align: left;
    font-size: 20px;
    float: left;
}

.form_row{
    margin-top: 5px;
    width: 100%;
    height: auto;
    /* background-color: red; */
    float: left;
}

.input{
    display: block;
    margin-top: 10px;
    width: 100%;
    float: left;
    height: 22px;
}

.btn{
    margin-top: 25px;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

/****************************** HOME ***********************************/

header{
    width: 100%;
    height: auto;
    background-color: #bba287;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
	width: 90%;
    margin-top: 10px;
	text-align: center;
}

.painel_usuario{
    margin-top: 15px;
    margin: 10px;
    color: white;
}

.painel_usuario img{
	width: 64px;
	height: 64px;
	display: block;
	margin: auto;
	border-radius: 5px;
}

.dados_usuario{
    font-size: 20px;
	display: inline-block;
}

#logout{
	cursor: pointer;
}

.page_view{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 30px;
    background-color: #87bba2;
    padding-top: 10px;
    display: flex;
    border-radius: 5px;
    color: white;
}

.page_title{
    width: 10%;
    font-weight: bold;
    margin-left: 10px;
    /* background-color: red; */
}

.menu{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
}

.menu_itens{
	width: 200px;
	height: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu_item_container{
	display: flex;
	flex-direction: row;
}

.item_titulo{
	margin: 0;
	box-sizing: border-box;
	padding-top: 5px;
	margin-left: 5px;
	font-weight: bold;
}

.submenu{
	display: none;
	width: 200px;
	height: auto;
	margin: 0;
	margin-top: 5px;
	margin-left: 50px;
	padding: 0;
}

.submenu-itens{
	padding: 0;
	list-style-type: none;
}

.paginas_nome{
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 2px;
	cursor: pointer;
}
.paginas_link{
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: black;
	font-weight: normal;
}

.paginas_link:visited{
    color: black;
}

.paginas_link:hover{
    color: #87bba2;
}

.paginas_link:focus{
    color: black;
}

.content{
    margin: auto;
    width: 80%;
	max-width: 1920px;
    height: auto;
	min-height: 500px;
    margin-top: 10px;
}

.home_pages{
    width: 78%;
    height: auto;
    background-color: rgba(181, 182, 183, 0.2);
    box-sizing: border-box;
    padding: 10px;
}

.home_pages_row{
    display: flex;
    justify-content: center;
}

.pages_card{
    width: 300px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pages_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.pages_card_title{
    margin: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.pages_card_image{
    width: 128px;
    height: 128px;
    margin: auto;
    margin-top: 10px;
}

.pages_card_desc{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}

footer{
    text-align: center;
    clear: both;
    /* background-color: #6a7072; */
    background-color: #bba287;
    box-sizing: border-box;
	height: 50px;
    padding: 10px;
    color: white;
}

/*********************** USUARIOS ***********************/

.container{
    display: flex;
    justify-content: space-between;
}

.page_btn{
    border: none;
    height: 20px;
    margin-left: 60px;
	cursor: pointer;
	margin-right: 5px;
}

.page_btn:hover{
    background-color: #a287bb;
    transition: 0.5s;
}

.page_search_container{
    width: 80%;
    height: 20px;
	text-align: center;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.page_search{
	width: 30%;
	height: 20px;
    border: none;
	text-indent: 10px;
}

.img_pesquisa{
	background-color: #a287bb;
	cursor: pointer;
	width: 20px;
}

.img_pesquisa img{
	margin-top: 2px;
}

.dashboard{
	width: 20%;
    max-width: 320px;
    height: 200px;
    /* border: 1px solid black; */
    /* background-color: blue; */
}

.dashboard_title_container{
    width: 100%;
    height: 40px;
    background-color: #87bba2;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.pages{
    width: 100%;
    height: auto;
    background-color: rgba(181, 182, 183, 0.2);
    box-sizing: border-box;
    padding: 10px;
}

.pages_itens{
    display: block;
    margin-bottom: 10px;
}

.users_view{
	width: 78%;
    max-width: 1200px;
	height: auto;
	min-height: 400px;
    background-color: rgba(181, 182, 183, 0.2);
    border-radius: 10px 10px 0px 0px;
}

.estatisticas{
	margin-top: 20px;
	background-color: rgba(181,182,183,0.2);
}

.users_view_title{
    width: 100%;
    height: 40px;
    background-color: #87bba2;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.users_view_itens{
    font-weight: bold;
    width: 150px;
    float: left;
}

.users_view_list{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.next_itens{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    -ms-flex-pack: end;
}

.next_itens_btn{
    width: 100px;
    height: 40px;
    background-color: #D6D8D9;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 5px;
}


#pages{
    width: 50px;
}

#pages:hover{
    background-color: #a287bb;
    transition: 0.5s;
}

#pesquisa{
	display: none;
	position: relative;
	height: auto;
	min-height: 400px;
}

.voltar{
	position: absolute;
	bottom: 0;
	margin-left: 10px;
	cursor: pointer;
}

/*************************** FORMULARIO USUARIO ************************/
.fechar{
	float: right;
	cursor: pointer;
}

.form_container{
    clear: both;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*.frm_cadastro{
    width: 150px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
}*/

.frm_usuario{
	width: 200px;
	height: auto;
	margin: auto;
	margin-top: 50px;
}

.cadastro_input{
	width: 200px;
	height: 25px;
	text-indent: 10px;
	border: 1px solid;
	border-style: solid;
}

.cadastro_input:hover{
	border-color: deepskyblue;
}

.cadastro_select{
	width: 205px;
	height: 31px;
	cursor: pointer;
	border: 1px solid;
	border-style: solid;
}

.cadastro_select:hover{
	border-color: deepskyblue;
}

.frm_cadastro .form_row{
    margin-top: 20px;
}

.lbl_cadastro{
    display: block;
	font-weight: bold;
}

#btn_linha{
	text-align: center;
}

.sub_btn{
	border-radius: 2px;
	border: none;
	width: 120px;
	height: 40px;
	background-color: #A287BB;
	color: white;
	cursor: pointer;
}

.sub_btn:hover{
	box-shadow: 0 2px 5px 0 lightgray;
}

#visualizar img{
    width: 64px;
    height: 64px;
}

#imagem, #imagem2, #imagem3{
    display: none;
}

#visualizar{
    width: 64px;
    height: 64px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 30px;
}


/************************* MODAL ************************/

.container_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: none;
}

.icones{
	margin: 10px;
	cursor: pointer;
}

.idiomas{
	float: left;
}

.modal{
    width: 800px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#modal_nivel{
	width: 300px;
	height: 200px;
}

/************************* MENSAGENS **********************************/

.mensagens{
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: none;
}

.mensagem-info{
	position: relative;
	width: 400px;
	height: 50px;
	background-color: #D9EDF7;
	color: #31708F;
	border-radius: 5px;
	box-sizing: border-box;
	padding-top: 10px;
	text-align: center;
	margin: auto;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translate(-50%, 0);
	display: none;
}

.mensagem-sucesso{
	position: relative;
	width: 400px;
	height: 50px;
	background-color: #DFF0D8;
	color: #3C763D;
	border-radius: 2px;
	box-sizing: border-box;
	padding-top: 10px;
	text-align: center;
	margin: auto;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.mensagem-erro{
	position: relative;
	width: 400px;
	height: 50px;
	background-color: #F2DEDE;
	color: #A94442;
	border-radius: 2px;
	box-sizing: border-box;
	padding-top: 15px;
	text-align: center;
	margin: auto;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.close{
	font-size: 25px;
	font-family: fantasy;
	color: gray;
	float: right;
	box-sizing: border-box;
	position: relative;
	margin-top: -8px;
	margin-right: 10px;
	cursor: pointer;
}

/************************* FORMULARIO DE NIVEIS *************************/
.frm_nivel{
	width: 200px;
	height: auto;
	margin: auto;
}

.erro_tabela{
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: block;
}

.erro_tabela h1{
    margin: 0;
    margin-bottom: 20px;
}

/**************************** ENQUETES *****************************/
.frm_enquete{
	width: 220px;
	height: 100%;
	margin: auto;
}

#lbl_data{
	display: flex;
	justify-content: space-between;
}

#input_data{
	display: flex;
	justify-content: space-between;
}

#dtinicio, #dttermino{
	width: 70px;
}

#resultado{
	display: none;
}

#resultado_itens{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
}

#resultado span{
	font-size: 25px;
	box-sizing: border-box;
	padding: 20px;
}

#voltar{
	cursor: pointer;
}

/***************************** ANÁLISE **********************************/
.frmAvaliacao{
	width: 220px;
	margin: auto;
	margin-top: 60px;
}

#consignacao{
	display: none;
}

.produtos_linha{
	width: 1200px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
	flex-wrap: wrap;
}

.produtos{
	width: 200px;
	height: 220px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.produtos:hover{
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.produtos_imagem{
	width: 128px;
	height: 128px;
	border: 1px solid black;
	margin: auto;
}

.produtos_imagem > img{
	width: 128px;
	height: 128px;
}

.produtos_titulo{
	margin: 0;
	margin-bottom: 5px;
}

.acoes{
	text-align: center;
}

.acoes img{
	cursor: pointer;
}

.visualizar_container{
	display: flex;
	flex-direction: column;
}

.visualizar_container .fechar{
	align-self: flex-end;
}

.visualizar_detalhes{
	width: 400px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 20px;
}

.detalhes_titulo{
	margin-bottom: 20px;
	font-weight: bold;
	margin-right: 5px;
}

.detalhe_item{
	display: flex;
	flex-direction: row;
}

.descricao_container{
	width: 300px;
}

.visualizar_desc{
	width: 100%;
	overflow-y: hidden;
	resize: none;
}

/************************** EVENTOS ***********************************/
.frmEvento{
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
}

#visualizar_evento{
	width: 128px;
	height: 128px;
}

#visualizar_evento img{
	width: 128px;
	height: 128px;
}

#txtdesc{
	overflow: hidden;
	height: 50px;
}

.container_data{
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/************************* FORMULÁRIO DE PRODUTOS **********************/
#modal_roupa{
	height: 650px;
}

.frm_roupa{
	margin-top: 25px;
}

#roupas_form{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.imagens_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.imagens_container img{
	height: 128px;
	width: 128px;
}

#form_container_roupa{
	text-align: center;
}


#visualizar_roupa img{
	width: 128px;
	height: 128px;
}

#roupas_col1{
	height: auto;
}

#roupas_col2{
	height: auto;
}

.form_linha{
	padding: 10px;
	text-align: left;
}

.form_linha label{
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.cadastro_text{
	width: 200px;
	resize: none;
	border: 1px solid;
}

.cadastro_text:hover{
	border-color: deepskyblue;
}

.radio{
	display: flex;
	justify-content: space-between;
}

.radio label{
	box-sizing: border-box;
	padding-top: 10px;
}

#txttamanho{
	display: none;
}

.container_imagens{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container_imagens .fechar{
	align-self: flex-end;
}

.dados_imagens{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dados_imagens #imagens{
	width: 256px;
	height: 256px;
}

#frmImagem{
	text-align: center;
}

#frmImagem .sub_btn{
	margin-top: 10px;
}

#visualizar_edicao{
	width: 256px;
	height: 256px;
	margin: auto;
}

#visualizar_edicao img{
	width: 256px;
	height: 256px;
}

/*************************** FALE CONOSCO *****************************/

#modal_faleconosco{
	height: 400px;
	width: 400px;
}

.fale_conosco{
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
}

.fale_conosco_linha{
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.fale_conosco_linha span{
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 10px;
}

.fale_conosco_linha input{
	height: 20px;
}

/**************************** SOBRE NÓS ********************************/
#modal_sobre{
	height: 700px;
}

.layouts_container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#layout_1{
	width: 100%;
	height: auto;
	border: 1px solid red;
}

#layout_1 img{
	width: 800px;
}

#layout_2{
	width: 100%;
	height: auto;
	border: 1px solid black;
}

#layout_2 img{
	width: 800px;
}

.sobre_layout{
	width: 320px;
	height: auto;
	margin: auto;
	margin-top: 10px;
}

#visualizar_sobre{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 10px;
}

#visualizar_sobre img{
	width: 200px;
	height: 200px;
}

.sobre_layout #txttitulo{
	width: 300px;
}

.sobre_layout #txtdesc{
	width: 300px;
	height: 80px;
}

.sobre_layout #txtdesc2{
	height: 80px;
	width: 300px;
}

.sobre_linha{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	padding: 20px;
}

.sobre_imagem{
	width: 100px;
	height: 100px;
	margin: auto;
}

.sobre_imagem img{
	width: 100px;
	height: 100px;
}

.sobre_col1{
	width: 400px;
}

.sobre_col1_item{
	margin-bottom: 50px;
}

.sobre_col2_item{
	margin-bottom: 50px;
}

.sobre_col2{
	width: 400px;
}

.sobre_titulo{
	font-weight: bold;
	text-align: center;
}

.sobre_descricao{
	width: 80%;
	height: 50px;
	overflow: hidden;
	margin: auto;
	text-align: justify
}

.quebrar_linha{
	width: 100%;
}

.acoes{
	margin-top: 10px;
}

#preview{
	display: none;
}

#preview_layout1{
	width: 80%;
	display: flex;
	margin: auto;
	box-sizing: border-box;
	padding: 20px;
}

.preview_layout1_col2 #prev_imagem img{
	width: 300px;
	height: 200px;
}

.preview_layout2_col2 #prev_imagem img{
	width: 300px;
	height: 200px;
}

#preview_layout2{
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	margin: auto;
	box-sizing: border-box;
	padding: 20px;
}

.preview_layout2_col1 h1{
	margin: 0;
}

.preview_layout2_col2 img{
	margin-right: 10px;
	margin-left: 10px;
}

/************************ cor ****************************/
#modal_cor{
	height: 260px;
	width: 240px;
}

.frm_cor{
	width: 220px;
	margin: auto;
	height: auto;
}

#lbl_cor{
	display: inline-block;
}

.cadastro_cor{
	border: none;
	width: 32px;
	height: 32px;
	padding: 0;
	outline: none;
}

#cor{
	width: 80px;
	margin: auto;
}

/************************* PROMOÇÃO ***************************/
.frmPromocao{
	width: 270px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

#novo{
	display: none;
}

/************************* TEMAS *********************************/

#modal_tema{
	width: 350px;
	height: 320px;
}

.frm_tema{
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.radio_buttons{
	display: flex;
}

/*************************** UNIDADES ****************************/
.frmUnidade{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.unidades_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/************************* RETIRADAS *****************************/
.frmRetirada{
	width: 300px;
	height: auto;
	margin: auto;
}

/************************* SLIDER ******************************/
.frm_slider{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.frm_slider img{
	width: 256px;
	height: 256px;
}

.slider_linha{
	width: 1180px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
}

.slider{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider_imagem{
	width: 300px;
	height: 200px;
	margin-right: 5px;
}

.slider_imagem img{
	width: 300px;
	height: 200px;
}