html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background-image: url(../imagens/loginindex.jpeg);
}

.login{
    margin: auto;
    overflow: hidden;
    clear: both;
    position: relative;
    top: 30%;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login h1{
    margin: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

.frmLogin{
    margin: auto;
    width: 80%;
    height: 150px;
}

.lbl_login{
    display: block;
    text-align: left;
    font-size: 20px;
    float: left;
}

.form_row{
    margin-top: 5px;
    width: 100%;
    height: auto;
    /* background-color: red; */
    float: left;
}

.input{
    display: block;
    margin-top: 10px;
    width: 100%;
    float: left;
    height: 22px;
}

.btn{
    margin-top: 25px;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

/****************************** HOME ***********************************/

header{
    width: 100%;
    height: auto;
    background-color: #bba287;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
	width: 90%;
    margin-top: 10px;
	text-align: center;
}

.painel_usuario{
    margin-top: 15px;
    margin: 10px;
    color: white;
}

.painel_usuario img{
	width: 64px;
	height: 64px;
	display: block;
	margin: auto;
	border-radius: 5px;
}

.dados_usuario{
    font-size: 20px;
	display: inline-block;
}

#logout{
	cursor: pointer;
}

.page_view{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 30px;
    background-color: #87bba2;
    padding-top: 10px;
    display: flex;
    border-radius: 5px;
    color: white;
}

.page_title{
    width: 10%;
    font-weight: bold;
    margin-left: 10px;
    /* background-color: red; */
}

.paginas_link{
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: black;
}

.paginas_link:visited{
    color: black;
}

.paginas_link:hover{
    color: #87bba2;
}

.paginas_link:focus{
    color: black;
}

.content{
    margin: auto;
    width: 80%;
    height: auto;
	min-height: 500px;
    margin-top: 10px;
}

.home_pages{
    width: 78%;
    height: 500px;
    background-color: rgba(181, 182, 183, 0.2);
    box-sizing: border-box;
    padding: 10px;
}

.home_pages_row{
    display: flex;
    justify-content: center;
}

.pages_card{
    width: 300px;
    height: 220px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pages_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.pages_card_title{
    margin: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.pages_card_image{
    width: 128px;
    height: 128px;
    margin: auto;
    margin-top: 10px;
}

.pages_card_desc{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}

footer{
    text-align: center;
    clear: both;
    /* background-color: #6a7072; */
    background-color: #bba287;
    box-sizing: border-box;
	height: 50px;
    padding: 10px;
    color: white;
}
/*********************** USUARIOS ***********************/

.container{
    display: flex;
    justify-content: space-between;
}

.page_btn{
    border: none;
    height: 20px;
    margin-left: 60px;
    cursor: pointer;
}

.page_btn:hover{
    background-color: #a287bb;
    transition: 0.5s;
}

.page_search_container{
    width: 80%;
    height: auto;
    text-align: center;
}

.page_search{
    width: 30%;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
}

.dashboard{
    width: 20%;
    height: 200px;
    /* border: 1px solid black; */
    /* background-color: blue; */
}

.dashboard_title_container{
    width: 100%;
    height: 40px;
    background-color: #87bba2;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.pages{
    width: 100%;
    height: 150px;
    background-color: rgba(181, 182, 183, 0.2);
    box-sizing: border-box;
    padding: 10px;
}

.pages_itens{
    display: block;
    margin-bottom: 10px;
}

.users_view{
    width: 78%;
	height: auto;
	min-height: 400px;
    background-color: rgba(181, 182, 183, 0.2);
    border-radius: 10px 10px 0px 0px;
}

.estatisticas{
	margin-top: 20px;
	background-color: rgba(181,182,183,0.2);
}

.users_view_title{
    width: 100%;
    height: 40px;
    background-color: #87bba2;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.users_view_itens{
    font-weight: bold;
    width: 150px;
    float: left;
}

.users_view_list{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.next_itens{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    -ms-flex-pack: end;
}

.next_itens_btn{
    width: 100px;
    height: 40px;
    background-color: #D6D8D9;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 5px;
}


#pages{
    width: 50px;
}

#pages:hover{
    background-color: #a287bb;
    transition: 0.5s;
}

/*************************** FORMULARIO USUARIO ************************/
.fechar{
    float: right;
    cursor: pointer;
    margin: 10px;
}

.form_container{
    clear: both;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.frm_cadastro{
    width: 150px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
}

.frm_cadastro .form_row{
    margin-top: 20px;
}

.lbl_cadastro{
    display: block;
}

.cadastro_input{
    margin-top: 5px;
}

.select_cadastro{
    width: 140px;
    margin-top: 5px;
    height: 25px;
}

#visualizar img{
    width: 64px;
    height: 64px;
}

#imagem{
    display: none;
}

#visualizar{
    width: 64px;
    height: 64px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 30px;
}


/************************* MODAL ************************/

.container_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: none;
}

.modal{
    width: 800px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#modal_nivel{
	width: 300px;
	height: 200px;
}

/************************* FORMULARIO DE NIVEIS *************************/
.chk_titulo{
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

.chk_cadastro{
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

#paginas_niveis{
    width: 150px;
    height: 100px;
    overflow-y: scroll;
    margin-top: 20px;
}

.paginas_niveis_itens{
    width: 100%;
    height: 30px;
    display: block;
}

.erro_tabela{
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: none;
}

.erro_tabela h1{
    margin: 0;
    margin-bottom: 20px;
}

/**************************** ENQUETES *****************************/
#resultado{
	display: none;
}

#resultado_itens{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
}

#resultado span{
	font-size: 25px;
	box-sizing: border-box;
	padding: 20px;
}

#voltar{
	cursor: pointer;
}

/***************************** ANÁLISE **********************************/
.produtos_linha{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
}

.produtos{
	margin: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.produtos:hover{
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.produtos_imagem{
	width: 128px;
	height: 128px;
	border: 1px solid black;
}

.produtos_titulo{
	margin: 0;
	margin-bottom: 5px;
}

.acoes{
	text-align: center;
}

.acoes img{
	cursor: pointer;
}

/************************** EVENTOS ***********************************/
#txtdesc{
	overflow: hidden;
	height: 50px;
}

/************************* FORMULÁRIO DE PRODUTOS **********************/
.frm_roupa{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#form_container_roupa{
	text-align: center;
}

#roupas_col1{
	height: auto;
	margin-top: 60px;
}

#roupas_col2{
	height: auto;
	margin-top: 60px;
}

.form_linha{
	padding: 10px;
	text-align: left;
}

.form_linha label{
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.form_linha input{
	width: 200px;
	height: 25px;
}

.form_linha textarea{
	width: 200px;
}

.form_linha select{
	width: 200px;
	height: 31px;
	cursor: pointer;
}

/*************************** FALE CONOSCO *****************************/

.fale_conosco{
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
}

.fale_conosco_linha{
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.fale_conosco_linha span{
	margin-bottom: 5px;
	font-weight: bold;
}

.fale_conosco_linha input{
	height: 20px;
}

/**************************** SOBRE NÓS ********************************/

.layouts_container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#layout_1{
	width: 100%;
	height: auto;
	border: 1px solid red;
}

#layout_1 img{
	width: 800px;
}

#layout_2{
	width: 100%;
	height: auto;
	border: 1px solid black;
}

#layout_2 img{
	width: 800px;
}

.sobre_layout{
	width: 200px;
	height: auto;
	margin: auto;
	margin-top: 50px;
}

#visualizar_sobre{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 10px;
}

#visualizar_sobre img{
	width: 200px;
	height: 200px;
}

.sobre_layout #txttitulo{
	width: 300px;
	height: 25px;
}

.sobre_layout #txtdesc{
	overflow-y: hidden;
	resize: none;
	height: 100px;
	width: 300px;
}

.sobre_linha{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sobre_imagem{
	width: 100px;
	height: 100px;
	margin: auto;
}

.sobre_imagem img{
	width: 100px;
	height: 100px;
}

.sobre{
	width: 400px;
}

.sobre_titulo{
	font-weight: bold;
	text-align: center;
}

.sobre_descricao{
	width: 80%;
	height: 50px;
	overflow: hidden;
	margin: auto;
	text-align: justify
}

.quebrar_linha{
	width: 100%;
}

.acoes{
	margin-top: 10px;
}

#dados_layout1{
	display: none;
}